  body {
      font-family: Arial, sans-serif;
      background:linear-gradient(90deg, #4d1572, #e27cc0);
      margin: 0;
      padding: 0;
    }

    .header {
      background:linear-gradient(90deg, #4d1572, #e27cc0);
        color: white;
      padding: 20px;
      text-align: center;
      box-shadow: 12px;
    }

    .container {
      max-width: 800px;
      margin: 40px auto;
      background-color: white;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    }

    h1 {
      text-align:justify;
      color: #333;
    }

    p {
      line-height: 1.6;
      color: #555;
    }

    .footer {
      background-color: #343a40;
      color: white;
      text-align: center;
      padding: 15px;
      position: fixed;
      bottom: 0;
      width: 100%;
    }
     .rodape-topo {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: linear-gradient(90deg, #4d1572, #e27cc0);
      color: #fff;
      text-align: center;
      padding: 15px 20px;
      box-shadow: 0 8px 10px rgba(17, 11, 17, 0.4);
      z-index: 999;
    }

    .rodape-topo .conteudo {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }

    .rodape-topo .logo {
      font-size: 20px;
      font-weight: bold;
    }

    .rodape-topo .links a {
      margin-left: 20px;
      color: #ccc;
      text-decoration: none;
      transition: color 0.3s;
    }

    .rodape-topo .links a:hover {
      color: #fff;
    }

    .conteudo-principal {
      padding: 40px 20px;
      text-align: center;
      color: #000000;
      box-shadow: 50%;
      
      
    }

     .login-box {
      background-color: white;
      padding: 40px 30px;
      border-radius: 10px;
      box-shadow: 0 8px 16px rgba(0,0,0,0.3);
      width: 100%;
      max-width: 350px;
      text-align: center;
    }
